
<div class="container--contador">
  <div class="contador--titulo">
    <h1>{{title}}</h1>
  </div>
  <div class="contador--conteo">
    <h2>{{conteo}}</h2>
  </div>
  <div class="contador--botones">
    <div class="botones--boton-inc">
      <button (click)="incrementar()">+1</button>
    </div>
    <div class="botones--boton-dec">
      <button (click)="decrementar()">-1</button>
    </div>
    <div class="botones--boton-res">
      <button (click)="resetear()">Reset</button>
    </div>
  </div>
</div>